<div>
	<button class="btn btn-primary"
		(click)="onCreateTask()">New Task</button>
	<br><br>
    <app-task 
      *ngFor="let task of tasks | async" 
      [task]="task"
      (completeTask)="onCompleteTask($event)"
      (editTask)="onEditTask($event)"
      (deleteTask)="onDeleteTask($event)">
    </app-task>
</div>

